<section ng-controller="HomeController">
  <div class="row">
  <div class="col-sm-4" ng-repeat="alert in alerts">
    <div class="col-xs-2">
      <h1>
        <button type="button" class="btn btn-default" style="height:300px;width:300px">
              <img alt="MEAN.JS" class="img-responsive text-center" src={{alert.image}} />
        </button>
        </h1>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
          <span class="text-muted">DESCRIPTION OF GOAL</span>
        </div>
        </div>
        </div>
        </div>

</section>
