
<section ng-controller="ArticlesController" ng-init="find()">




<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' >
  <div class="page-header" >
    <h1 style="color:white; font-family: 'Open Sans', sans-serif;" >Social Pillars</h1>
  </div>
  <div class="list-group">
  <script type="text/javascript">
  
</script>

  
             <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
      <textarea data-ng-model="problem" placeholder="POST HERE"  data-ng-model="problem" style="width:1050px; font-size:30px" id="normalize" ng-click='exp()'  ng-keydown="onKeyDown($event)"
             ng-keyup="onKeyUp($event)"
             ng-keypress="onKeyPress($event)"></textarea>
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>

   
  

  <div type="button" class="btn btn-success" style="margin-left:870px ; margin-top:40px; width:150px;height:60px; padding-top:15px ;border-radius:50px; font-size:20px "  ui-sref="articles.create">Submit</div>


  <div type="button" class="btn btn-success" style="margin-left:870px ; margin-top:40px; width:150px;height:60px; padding-top:15px ;border-radius:50px; font-size:20px "  ui-sref="articles.create">Feed</div>
    <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">

      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-if="article.user" ng-bind="article.user.displayName"></span>
        <span ng-if="!article.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
      <p class="list-group-item-text" ng-bind="article.content"></p>
    </a>
  </div>
  <script type="text/javascript" src="exp.js" ></script>
</section>
