<section data-ng-controller="Work1sController" data-ng-init="toViewWork1()">
	<div class="page-header">
		<h1 data-ng-bind="work1.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="work1" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == work1.user._id))">
			<a class="btn btn-success" href="/#!/work1s/{{work1._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="work1">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/work1s">
				<i class="glyphicon glyphicon-list"></i> List Work1s
			</a>
		</div>

	</div>

</section>
